{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Here's some info about how to get in touch!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <p style="font-size:30px"> Here's my email </p>
        <a href="https://www.linkedin.com/in/patrickeschbach/">
          <i class="fab fa-linkedin icon-4x fa-fw" style="font-size:30px"></i>
        </a>
        <a href="mailto:patrickjeschbach@gmail.com"> 
          <i class="far fa-envelope icon-4x fa-fw" style="font-size:30px" ></i>
        </a>
        <div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
