{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <title> About </title>
{% endblock %}

{% block body_attribs %}
  data-spy="scroll" 
  data-target="#toc"
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="static/images/avatar.jpeg" alt="Picture of me!"
      class="img-circle" style=padding-bottom:30px>
      <nav id="toc" data-spy="affix" data-toggle="toc" style="position:relative;"></nav>
    </div>
    <div class="col-md-9">
      <h1> Intro </h1>
      <p>Hi! I'm a recent University of Michigan grad currently working as a
      Software Engineer in Seattle. I created this page to solidify a few web
      dev basics, namely, how to create a static page, style it with a CSS
      framework like Bootstrap, and host it somewhere on my own domain! 
      I'm also hoping to write on here about topics that are interesting to me.
      This will probably include things like music/book reviews,
      Dominion (a card game I like playing) strategy articles, and maybe even
      some tech related stuff, too!</p>

      <p> If you want to get in touch with me for any reason, my email and
      contact info on a few sites I frequent is under the "Contact" tab. </p>
      <h1> Pages </h1> 
      <ul>
        {% for page in pages %}
          <li>
            <a href="{{ url_for("page", path=page.path) }}"> {{ page.title }} </a>
          </li>
        {% else %}
          <li>No pages to display.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
